.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

//generate utility colors from dark to light 
// $color: rgb(141, 3, 3);
// $color-name: 'grey';


$allcolors: (
    "orange":    orange,
    "green":   green,
);
@each $color-name, $color in $allcolors {
    @for $i from 10 through 100 {
        @if $i % 10 == 0 {
          $percentage: $i*1%;
          @if $i < 50{
            $k : 50 - $i;//change the first value to lighten the whites i.e between 50 to 80
            $kper : $k * 1%;
            .#{$color-name}-#{$i} {
                 background-color: mix(white, $color, $kper);
            } 
        } @else if $i == 50{
            .#{$color-name}-#{$i} {
                background-color: $color;
            }
        }@else if $i > 50{
          $b : $i - 35;//change the second value to darken the blacks i.e between 20 to 50
          $bper : $b * 1%;
            .#{$color-name}-#{$i} {
              background-color: mix(black, $color, $bper);
            }
    
            }
        }
      }
}

//Generate text colors
// @each $color-name, $color in $allcolors {
//     @for $i from 10 through 100 {
//         @if $i % 10 == 0 {
//           $percentage: $i*1%;
//           @if $i < 50{
//             $k : 50 - $i;//change the first value to lighten the whites i.e between 50 to 80
//             $kper : $k * 1%;
//             .#{$color-name}-text-#{$i} {
//                  color: mix(white, $color, $kper);
//             } 
//         } @else if $i == 50{
//             .#{$color-name}-text-#{$i} {
//                 color: $color;
//             }
//         }@else if $i > 50{
//           $b : $i - 35;//change the second value to darken the blacks i.e between 20 to 50
//           $bper : $b * 1%;
//             .#{$color-name}-text-#{$i} {
//               color: mix(black, $color, $bper);
//             }
    
//             }
//         }
//       }
// }

///////==================IMP UTILITIES THAT SHOULD STAY THE SAME FOR ALL PROJECTS==================//////
.d-block{
    display: block !important;
}

.d-none{
    display: none !important;
}
@include for-phone-only{
    .d-sm-block {
        display: block !important;
    }
    .d-sm-none { 
        display: none !important;
    }
 }

 @include for-tablet-portrait-only{
    .d-md-block {
        display: block !important;
    }
    .d-md-none{
        display: none !important;
    }
 }

 @include for-tablet-landscape-only{
    .d-lg-block {
        display: block !important;
    }
    .d-lg-none{
        display: none !important;
    }
 }

 @include for-desktop-only{
    .d-xl-block {
        display: block !important;
    }
    .d-xl-none{
        display: none !important;
    }
 }
///////+++++++++++++++++++IMP UTILITIES THAT SHOULD STAY THE SAME FOR ALL PROJECTS+++++++++++++++//////
 .container{
    padding: 0 20px;
 }

 .d-grid{
    display: grid !important;
 }

 .d-flex{
    display: flex !important;
 }

 .d-inline-b{
    display: inline-block;
 }
 .d-block{
    display: block;
 }
 .d-float-right{
    float: right;
 }

 .d-float-left{
    float:left;
 }

 .pad-item-1{
    >*:not(first-child){
        padding-left: 5px;
    }
 }
 .pad-item-2{
    >*:not(first-child){
        padding-left: 10px;
    }
 }

 .clearfix{
    &::after {
        display: block;
        clear: both;
        content: "";
    }
 }
////////////////////===========WEBSITE CUSTOM=================////////////////////
 .bg-primary{
    background-color: cornflowerblue;
 }

.shadow-xs	{
    box-shadow: var(--shadow-xs);
}
.shadow-sm{
    box-shadow: var(--shadow-sm);
}	
.shadow-md{
    box-shadow: var(--shadow-md);
}	
.shadow-lg{
    box-shadow: var(--shadow-lg);
}
.shadow-xl{
    box-shadow: var(--shadow-xl);
}	
.shadow-none{
    box-shadow: none;
}	

.btn{
  cursor: pointer;
  text-decoration: none;
  line-height: 1.2;
  @include fontSmooth;
  transition: all 0.2s ease;
//   will-change: transform;

  &:focus {
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15);
    outline: none;
  }

}